doctype html
html(prefix="og: http://ogp.me/ns#")
  head
    title= title  
    meta(property="og:image" content="/images/rogo.png")
    meta(property="og:description" content="書籍の発売日最新情報を一覧化するサイトです")
    link(rel='stylesheet', href='/stylesheets/home_style.css')
    script(src="https://kit.fontawesome.com/17db368173.js" crossorigin="anonymous")
  body
    div(id='st_wrapper')
      div(class="nav_container")
        h1(id='title') HonBa!
          p(id='sub_title') ~ほんのさがしば~
        ul(class="l_nav")
      div(class='explain')
        h1 HonBa!
        p ~ほんのさがしば~
        p 当サイトはジャンルごとに発売予定の新刊の発売日を掲載しています。
        p 皆様の読書ライフのお助けになれば幸いです。

      h2(class='section') ジャンル
      ul(class='link')
        li
          a(href='comic' class='link_page')
            span コミック
        li
          a(href='computer' class='link_page')
            span コンピューター

      h2(class='section' ) ニュース
      ul(class='infomation')
        li(class='news') 
          p 2020-06-21    当サイトを公開しました
          p 2020-07-06    発売情報を更新しました

      footer
        p(id='copy')

    script(src='/javascripts/home.js')
      
