.nav_container {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #5EACC2;
  color: #FAF8ED;
}

.nav_container .l_nav {
  display: flex;
  padding-right: 10vw;
  align-items: center;
  justify-content: flex-end;
}

.nav_container .l_nav .nav_item {
  display: inline-block;
  margin: 2vh 2vw;
  text-decoration: none;
  font-size: 1.17rem;
  font-weight: bold;
}

.nav_container .l_nav .nav_item a {
  color: #FAF8ED;
  text-decoration: none;
}
