$str_color:#7a7050;
#title{
    float: left;
    
    text-align: center;
    margin: 2vh 0 2vh 3vw;
    font-size: 2.2rem;
    color: $str_color;
    #sub_title{
        font-size: .8rem;
    }
  }