@import './nav';
@import './title';
@import './footer';
$str_color:#7a7050;
$str_color2:#4e4125;
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}
#st_wrapper{
    width: 100%;
    overflow: hidden;
}
.infomation{
    
    .news{
        margin: 0 auto 5vh auto;
        p{
            color: $str_color2;
            text-align: center;
            font-size: 18px;
        }
    }
}



.explain{
    margin-top: 10vh;
    color: $str_color2;
    text-align: center;
    font-size: 1.3rem;
    @media screen and (max-width: 1199px){
        padding: 0 22px;
    }
}

.link{
    margin: 8vh auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .link_page{
        padding:  0 2rem;
        font-size: 1.5rem;
        color: $str_color2;
        @media screen and(max-width:1199px){
            float: left;
        }
    }
}

.section{
    color:$str_color2;
    text-align: center;
    margin: 15vh 0 5vh 0;
}