@import "./nav";
@import './title';
@import './footer';
$bp-small: 1199px;
$str_color:#7a7050;
$str_color2:#4e4125;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    color: $str_color2;
    text-decoration: none;
}
td{
    border: solid 1px black;
}

#contents{
    width: 100%;
    margin: 5rem auto;
}

#output_csv{
    max-width: 1050px;
    margin: 0 auto;
    #section_title{
        color: $str_color;
    }
}

#section_title{
    @media screen and (max-width:1199px) {
        font-size: 1.5rem;
        text-align: center;
    }
}

.contents{
    max-height: 2000px;
}

#view_info{
    @media screen and (max-width:1199px) {
        width: 50vw;
        margin: 0 auto;
    }

    width:  calc(100vw / 2);
    border-collapse: collapse;
    th,tr{
        border: solid 1px black;
    }
    th{
        padding:1.3rem;

    }
    td{
        padding: .6rem;

    }
}

#l_nav{
    width: 100%;
    height: 120%;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li{
        padding: 3rem 6rem; 
    }
}